<div class="rounded-tab offer-form-container">

    <form [formGroup]="createOfferForm" (ngSubmit)="onCreateFormSubmit()" id="add-offer-form">
        
        <app-form-input-text inputPlaceholder="Przelot awionetką nad pięknym lasem" inputLabel="Tytuł oferty"
            inputFormControlName="createOfferTitle"></app-form-input-text>
        
        <div class="row-container">
            <div class="three-per-row-item">
                <app-form-input-number inputPlaceholder="8" inputLabel="Liczba miejsc"
                    inputFormControlName="createOfferSeats"></app-form-input-number>
            </div>
            <div class="three-per-row-item">
                <app-form-input-number inputFormControlName="createOfferPrice" inputPlaceholder="399"
                    inputLabel="Cena"></app-form-input-number>
            </div>
            <div class="three-per-row-item">
                <label for="select-type-id"><span id="select-type-label">Typ statku powietrznego</span></label>
                <select id="select-type-id" class="select-type" formControlName="aircraftTypeOption">
                    <option *ngFor="let type of aircraftTypes" [value]="type">{{type}}</option>
                </select>
            </div>
        </div>
        <div class="row-container">
            <div class="three-per-row-item">
                <app-form-input-number inputPlaceholder="45" inputFormControlName="createOfferDuration" inputLabel="Długość lotu"></app-form-input-number>
            </div>
            <div class="three-per-row-item">
                <label for="select-type-id"><span id="select-type-label">Województwo</span></label>
                <select id="select-type-id" class="select-type" formControlName="voivodeshipOption">
                    <option *ngFor="let voivodeship of voivodeships" [value]="voivodeship[0]">{{voivodeship[1]}}</option>
                </select>
            </div>
            <div class="three-per-row-item" style="padding-top: 16px;">
                <mat-form-field>
                    <input formControlName="flightDateTime" matInput type="datetime-local" placeholder="chuj">
                    <mat-label>Data i godzina lotu</mat-label>
                </mat-form-field>
            </div>
        </div>
        <div class="row-container">
            <div class="one-per-row-item">
                <app-form-input-text 
                    inputLabel="Adres" 
                    inputFormControlName="flightAddress" 
                    inputPlaceholder="Lotnisko Warszawa Długa 68 | Szczecin Krótka 17"
                    ></app-form-input-text>
            </div>
        </div>
        
        <fieldset id="description-fieldset">
            <legend style="margin: 0 auto; font-size: 1.3rem;">Opis</legend>
            <textarea formControlName="createOfferDescription" id="description-textarea" rows="5"></textarea>
        </fieldset>
        
        <button type="button" mat-fab extended (click)="fileInput.click()">
            <mat-icon>photo</mat-icon>Choose File</button>
        <input formControlName="createOfferImage" hidden (change)="onFileSelected($event)" #fileInput type="file"
            accept="image/*">
        <span class="file-name">{{selectedFile?.name}}</span>
        
        <div class="submit-button-container">
            <app-list-submit-button text="Dodaj ofertę" icon="add_to_photos"></app-list-submit-button>
        </div>
    </form>
</div>