<div id="login-card" class="rounded-tab">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <app-form-input-text 
            inputFormControlName="email" 
            inputLabel="Email" 
            inputPlaceholder="jan.kowalski@gmail.com" 
            inputIcon="alternate_email" 
            inputHint="Email użyty podczas rejestracji">
        </app-form-input-text>
        <app-form-hideable-input-text
            inputFormControlName="password"
            inputLabel="Hasło"
            inputPlaceholder="MojeHaslo123!#"
            inputHint="Hasło użyte podczas rejestracji">
        </app-form-hideable-input-text>
        <app-list-button-container>
            <app-list-submit-button class="large-button" icon="fingerprint" text="Zaloguj"></app-list-submit-button>
            <app-list-button class="small-button" link="/register" icon="fiber_new" text="Zarejestruj"></app-list-button>
            <!-- <app-list-button class="small-button" link="/register" icon="help" text="Przypomnij hasło"></app-list-button> -->
        </app-list-button-container>
    </form>
</div>