:host {
    margin: 20px 0;
    display: block;
    /* min-height: 100vh; */
    box-sizing: border-box;
    
}
#login-card {
    display: block;
    width: 20vw;
    margin: 0 auto;
}
.logging-input {
    width: 100%;
    margin: 2vh 0;
}
.logging-input button {
    background-color: transparent;
    border: none;
    margin-right: 8px;
}
#dupa {
    display: block;
    margin: 0 auto;
}