<img src="swietokrzyski_park_narodowy.jpg" class="offer-image">
<div class="offer-info-container">
    <div class="offer-title" id="offer-title">Przelot awionetka nad jeziorem</div>
    <div class="offer-available-seats-container">
        <div class="offer-available-seats-label">pozostałe miejsca:</div>
        <div class="offer-available-seats">8</div>
    </div>
    <div class="offer-price-container">
        <div class="offer-price-label">cena za osobe:</div>
        <div class="offer-price">299</div>
    </div>
    <div class="example-button-container">
        <button mat-fab extended>
            <mat-icon>favorite</mat-icon>
            Disabled
        </button>
    </div>
</div>
