<mat-toolbar class="rounded-tab" id="app-navbar">
  <img src="/images/logo.jpg" width="100px" height="100px">
  <span class="logo-spacer"></span>
  <!-- <span id="logo">Fly Now</span> -->
  <span class="logo-spacer"></span>
  <button mat-fab extended matTooltip="Strona główna" routerLink="/offers">
    <mat-icon>home</mat-icon>
    <span>Strona główna</span>
  </button>
  
  <button *ngIf="authService.hasPermission(Permission.ViewAccountSettings)" mat-fab extended matTooltip="Opcje konta" routerLink="/account">
    <mat-icon>account_circle</mat-icon>
    <span>Konto</span>
  </button>
  <!-- <mat-menu #accountMenu="matMenu"> to do atrybutow buttona: [matMenuTriggerFor]="accountMenu"
    <button mat-menu-item>Opcja 1</button>
  </mat-menu> -->

  <button *ngIf="isAuthenticated()" (click)="onLogout()" mat-fab extended matTooltip="Log out" routerLink="/login">
    <mat-icon>logout</mat-icon>
    <span>Wyloguj</span>
  </button>

  <button *ngIf="!isAuthenticated()" mat-fab extended matTooltip="Login" routerLink="/login">
    <mat-icon>fingerprint</mat-icon>
    <span>Zaloguj</span>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>