<!-- TO DO: <br ><span *ngIf="false" style="color: red; font-weight: 500; font-size: 0.9rem;">Hasło musi być dłuższe</span> -->
<div id="login-card" class="rounded-tab">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <app-form-input-text 
            inputFormControlName="username"
            inputLabel="Nazwa użytkownika"
            inputIcon="account_circle"
            inputHint="Tak inni będą cię widzieć"
            inputPlaceholder="JanKowalski257">
        </app-form-input-text>
        <app-form-input-text 
            inputFormControlName="email"
            inputLabel="Email"
            inputIcon="alternate_email"
            inputHint="Email, którym będziesz się logować"
            inputPlaceholder="JanKowalski257">
        </app-form-input-text>
        <app-form-hideable-input-text
            inputFormControlName="password"
            inputLabel="Hasło"
            inputHint="Email, którym będziesz się logować"
            inputPlaceholder="JanKowalski257">
        </app-form-hideable-input-text>
        <app-list-button-container>
            <app-list-submit-button text="Register" icon="fiber_new" class="large-button"></app-list-submit-button>
        </app-list-button-container>
    </form>
    <app-list-button icon="fingerprint" text="Go back to log in" link="/login" class="small-button"></app-list-button>
</div>
