<div class="content-wrapper">
    <div class="filter-container rounded-tab">
        asonfaosfn asnfaosfn asfnasfnasfn aosnfa nsfasnf ao sfoa nsfoansasf asf nasfo nasof najsf najksf najsf noasn fjaosknfjkasnfk ansfkoankosan fasm 
    </div>
    <app-offer-tab-container>
        <mat-spinner *ngIf="!offersLoaded" id="loading-offers-spinner"></mat-spinner>
        <app-offer-tab *ngFor="let offer of mockOffers" class="offer-tab-small"
            [offerId]="offer.offerId"
            [title]="offer.title"
            [pricePerPerson]="offer.pricePerPerson"
            [aircraftType]="offer.aircraftType"
            [imagePath]="offer.imagePath">
        </app-offer-tab>
    </app-offer-tab-container>
</div>