<img src={{imagePath}} class="offer-image">
<div class="offer-info-container">
    <div class="offer-title" id="offer-title">{{title}}</div>
    <div>
        <div class="offer-detail-container">
            <div class="offer-detail-label">Liczba klientów:</div>
            <div class="offer-detail-info">{{clientCount}}/{{totalSeats}}</div>
        </div>
        <div class="offer-detail-container">
            <div class="offer-detail-label">cena za osobe:</div>
            <div class="offer-detail-info">{{pricePerPerson}} zł</div>
        </div>
    </div>
    <div class="offer-detail-container-full">
        <div class="offer-detail-label">adres:</div>
        <div class="offer-detail-info">{{address}}</div>
    </div>
    <div class="offer-detail-container-full">
        <div class="offer-detail-label">data:</div>
        <div class="offer-detail-info">{{flightDate | date:'yyyy-MM-dd HH:mm'}}</div>
    </div>
    <app-list-button-container>
        <app-list-button class="large-button" [link]="buttonLink" icon="arrow_right_alt" [text]="buttonText"></app-list-button>
    </app-list-button-container>
</div>
