<!-- <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"> -->
    <!-- <mat-form-field appearance="fill" class="">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput placeholder="jan.kowalski@gmail.com">
        <mat-icon matSuffix>alternate_email</mat-icon>
        <mat-hint>Email użyty podczas rejestracji</mat-hint>
    </mat-form-field> -->
    
        <!-- <app-form-input-text 
            formControlName="email" 
            label="Email" 
            placeholder="jan.kowalski@gmail.com" 
            icon="alternate_email" 
            hint="Email użyty podczas rejestracji">
        </app-form-input-text> -->
    <!-- <ng-content></ng-content> -->
<!-- </form> -->
