<div class="add-comment-container">
    <form [formGroup]="commentForm" (ngSubmit)="onCommentSubmit()">
        <textarea id="comment-textarea" rows="4" formControlName="commentFormInput"></textarea>
        <div class="comment-control-panel">
            <div class="comment-rating-container">
                <div style="text-align: center;">rate</div>
                <div>
                    <label>
                        <input type="radio" formControlName="commentRating" value="1" required>
                        1
                    </label>
                    <label>
                        <input type="radio" formControlName="commentRating" value="2">
                        2
                    </label>
                    <label>
                        <input type="radio" formControlName="commentRating" value="3">
                        3
                    </label>
                    <label>
                        <input type="radio" formControlName="commentRating" value="4">
                        4
                    </label>
                    <label>
                        <input type="radio" formControlName="commentRating" value="5">
                        5
                    </label>
                </div>
            </div>
            <div class="submit-button-container">
                <app-list-submit-button text="Dodaj komentarz" icon="add_comment">
                </app-list-submit-button>
            </div>
        </div>
    </form>
</div>
<ng-content></ng-content>